@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-auto-hide-permanent {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-auto-hide-permanent::-webkit-scrollbar {
  display: none;
}

.scrollbar-auto-hide::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-auto-hide::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-auto-hide::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  transition: background-color 0.3s;
}

.scrollbar-auto-hide::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.scrollbar-auto-hide {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}
